<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
        <PageTitle>Zither Harp Music - Lỗi!</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <p role="alert">Rất tiếc không tìm thấy trang nào phù hợp với đường dẫn này!</p>
        </LayoutView>
    </NotFound>
</Router>
